.wrapper {
    background: blue;
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.title {
    background: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.hero {
    background: green;
    height: 100px;
    width: 50%;
    display: inline-block;
    float: left;
}

#hero-text {
    float: left;
    height: auto;
    width: 40%;
}
#hero-value {
    float: right;
    height: auto;
    width: 60%;
}

/*
#hero-name {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

#hero-exp {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}
*/

#enemy {
    background: yellow;
    height: 100px;
    width: 50%;
    display: inline-block;
    float: right;
}

#enemy-health {
    background-color: aqua;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

.tab-links {
    margin: 10px 0 0 0;
    padding: 0;
}
.tab-links:after {
    display: block;
    clear: both;
    content: "";
}
.tabs .tab-links li {
    margin: 0 5px;
    float: left;
    list-style: none;
}
.tabs .tab-links li:first-child {
    margin-left: 10px;
}
.tabs .tab-links li:last-child {
    margin-right: 10px;
}
.tabs .tab-links a {
    padding: 4px 15px;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    background-color: #7fb5da;
    transition: all linear 0.15s;
    text-decoration: none;
}
.tabs .tab-links a:hover {
    background-color: #a7cce5;
}
.tabs .tab-content {
    padding: 15px;
    background-color: coral;
}
.tabs .tab-content .tab {
    display:none;
    min-height: 200px;
}
.tabs .tab-content .tab.active {
    display:block;
}
